<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.mikephil.charting">

 <!--  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    </application> -->

</manifest>