<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxmassdeveloper.mpchartexample">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.notimportant.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="LineChartActivity1" />
        <activity android:name="LineChartActivity2" />
        <activity android:name="LineChartTime" />
        <activity android:name="BarChartActivity" />
		<activity android:name="HorizontalBarChartActivity" />
        <activity android:name="HorizontalBarNegativeChartActivity" />
        <activity android:name="PieChartActivity" />
        <activity android:name="PiePolylineChartActivity" />
        <activity android:name="MultiLineChartActivity" />
        <activity android:name="BarChartActivityMultiDataset" />
        <activity android:name="DrawChartActivity" />
        <activity android:name="ScatterChartActivity" />
        <activity android:name="BubbleChartActivity" />
        <activity android:name=".fragments.SimpleChartDemo" />
        <activity android:name="ListViewBarChartActivity" />
        <activity android:name="ListViewMultiChartActivity" />
        <activity android:name="StackedBarActivity" />
        <activity android:name="AnotherBarActivity" />
        <activity android:name="InvertedLineChartActivity" />
        <activity android:name="CandleStickChartActivity" />
        <activity android:name="CubicLineChartActivity" />
        <activity android:name="RadarChartActivity" />
        <activity android:name="LineChartActivityColored" />
        <activity android:name="DynamicalAddingActivity" />
        <activity android:name="RealtimeLineChartActivity" />
        <activity android:name="CombinedChartActivity" />
        <activity android:name="PerformanceLineChart" />
        <activity android:name="BarChartActivitySinus" />
        <activity android:name="ScrollViewActivity" />
        <activity android:name="StackedBarActivityNegative" />
        <activity android:name="BarChartPositiveNegative" />
        <activity android:name="FilledLineActivity" />
        <activity android:name="HalfPieChartActivity" />
    </application>

</manifest>
