<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xxmassdeveloper.mpchartexample">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.notimportant.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="LineChartActivity1"
            android:exported="true"/>
        <activity
            android:name="LineChartActivity2"
            android:exported="true"/>
        <activity
            android:name="LineChartTime"
            android:exported="true"/>
        <activity
            android:name="BarChartActivity"
            android:exported="true"/>
		<activity
            android:name="HorizontalBarChartActivity"
            android:exported="true"/>
        <activity
            android:name="HorizontalBarNegativeChartActivity"
            android:exported="true"/>
        <activity
            android:name="PieChartActivity"
            android:exported="true"/>
        <activity
            android:name="PiePolylineChartActivity"
            android:exported="true"/>
        <activity
            android:name="MultiLineChartActivity"
            android:exported="true"/>
        <activity
            android:name="BarChartActivityMultiDataset"
            android:exported="true"/>
        <activity
            android:name="DrawChartActivity"
            android:exported="true"/>
        <activity
            android:name="ScatterChartActivity"
            android:exported="true"/>
        <activity
            android:name="BubbleChartActivity"
            android:exported="true"/>
        <activity
            android:name=".fragments.SimpleChartDemo"
            android:exported="true"/>
        <activity
            android:name="ListViewBarChartActivity"
            android:exported="true"/>
        <activity
            android:name="ListViewMultiChartActivity"
            android:exported="true"/>
        <activity
            android:name="StackedBarActivity"
            android:exported="true"/>
        <activity
            android:name="AnotherBarActivity"
            android:exported="true"/>
        <activity
            android:name="InvertedLineChartActivity"
            android:exported="true"/>
        <activity
            android:name="CandleStickChartActivity"
            android:exported="true"/>
        <activity
            android:name="CubicLineChartActivity"
            android:exported="true"/>
        <activity
            android:name="RadarChartActivity"
            android:exported="true"/>
        <activity
            android:name="LineChartActivityColored"
            android:exported="true"/>
        <activity
            android:name="DynamicalAddingActivity"
            android:exported="true"/>
        <activity
            android:name="RealtimeLineChartActivity"
            android:exported="true"/>
        <activity
            android:name="CombinedChartActivity"
            android:exported="true"/>
        <activity
            android:name="PerformanceLineChart"
            android:exported="true"/>
        <activity
            android:name="BarChartActivitySinus"
            android:exported="true"/>
        <activity
            android:name="ScrollViewActivity"
            android:exported="true"/>
        <activity
            android:name="StackedBarActivityNegative"
            android:exported="true"/>
        <activity
            android:name="BarChartPositiveNegative"
            android:exported="true"/>
        <activity
            android:name="FilledLineActivity"
            android:exported="true"/>
        <activity
            android:name="HalfPieChartActivity"
            android:exported="true"/>
    </application>

</manifest>
