name: PullRequest

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  buildTest:
    name: Build & Test JDK ${{ matrix.java_version }}
    runs-on: macOS-latest
    strategy:
      matrix:
        java_version: [ 11 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v3
        with:
          distribution: "adopt"
          java-version: ${{ matrix.java_version }}
      - name: Install Android SDK
        uses: malinskiy/action-android/install-sdk@release/0.1.2
      - name: Build project
        run: ./gradlew assembleDebug
      - name: Run tests
        run: ./gradlew test
  #      - name: Run instrumentation tests
  #        uses: malinskiy/action-android/emulator-run-cmd@release/0.1.2
  #        with:
  #          cmd: ./gradlew :app:cAT
  #          api: 28
  #          tag: default
  #          abi: x86
  #      - name: Archive Espresso results
  #        uses: actions/upload-artifact@v2.3.1
  #        if: ${{ always() }}
  #        with:
  #          name: Chart-Espresso-report
  #          path: app/build/reports/androidTests/connected
  #      - name: Save logcat output
  #        uses: actions/upload-artifact@v2.3.1
  #        if: failure()
  #        with:
  #          name: Chart-logcat
  #          path: artifacts/logcat.log
  #      - name: Archive screenshots
  #        uses: actions/upload-artifact@v2.3.1
  #        with:
  #          name: Chart-Screenshots
  #          path: screenshots/adb
  Check:
    name: Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java_version: [ 11 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v3
        with:
          distribution: "adopt"
          java-version: ${{ matrix.java_version }}
      - name: Install Android SDK
        uses: malinskiy/action-android/install-sdk@release/0.1.2
      - name: Code checks
        run: ./gradlew check
      - name: Archive Lint report
        uses: actions/upload-artifact@v2.3.1
        if: ${{ always() }}
        with:
          name: Chart-Lint-report
          path: ./**/build/reports/lint-results.html
